* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #001E4D;
}
.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;

}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz {
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 500;
}
.btn{
    width: 100%;
    color: #222;
    text-align: left;
    border: 1px solid #222;
    padding: 10px;
    font-weight: 500;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    background-color: black;
    color: #fff;
    transition: ease-in-out;
}
.btn:disabled{
    cursor: no-drop;

}
#home-btn{
    background: #eb2636;
    color: #fff;
    width: 150px;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    margin: 20px auto 0;
    cursor: pointer;
    display: none;
    margin-left: auto; /* Add this line to move the button to the right */
    
}
#home-btn a{
    text-decoration: none;
    color: #fff;
}

#next-btn {
    background: #001E4D;
    color: #fff;
    width: 150px;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    margin: 20px auto 0;
    cursor: pointer;
    display: none;
}
#action button {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed to create spacing between buttons */
}
.correct{
    background: rgb(156, 234, 156);
}
.incorrect{
    background: rgb(221, 136, 136);
}

/* Add animation styles to the timer */
.timer {
    float: right;
    margin-top: 20px;
    
    animation: countdown 10s ;
    /* Change the color as the timer progresses */
    color: #4CAF50; /* Initial color (green) */
  }
  
  /* Define the countdown animation */
  @keyframes countdown {
    0% {
      color: #4CAF50; /* Green at the start */
      
    }
    50% {
      color: #FFC107; /* Yellow in the middle */
      
    }
    100% {
      color: #F44336; /* Red at the end */
      
    }
  }
  